<%= form_with(model: task) do |form| %>

  <% if task.errors.any? %>
    <div style="color: red">
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :task_name, style: "display: block" %>
    <%= form.text_field :task_name %>
  </div>

  <div>
    <%= form.label :urgent %>
    <%= form.check_box :urgent %>

    <%= form.label :important %>
    <%= form.check_box :important %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
