<%= form_with(model: task, class: "form") do |form| %>

  <% if task.errors.any? %>
    <div style="color: red">
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task-name-field">
    <%= form.label :task_name %>
    <%= form.text_field :task_name, class: "text-input" %>
  </div>

  <div class="priority-container">
    <div>Priority</div>
    <div class="priority-check-box">
      <div class="urgent">
        <%= form.label :urgent %>
        <%= form.check_box :urgent %>
      </div>

      <div class="important">
        <%= form.label :important %>
        <%= form.check_box :important %>
      </div>
    </div>
  </div>

  <div class="submit-container">
    <%= form.submit %>
  </div>

<% end %>
