<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :task_name, style: "display: block" %>
    <%= form.text_field :task_name %>
  </div>

  <div>
    <%= form.label :urgent, style: "display: block" %>
    <%= form.checkbox :urgent %>
  </div>

  <div>
    <%= form.label :important, style: "display: block" %>
    <%= form.checkbox :important %>
  </div>

  <div>
    <%= form.label :complete, style: "display: block" %>
    <%= form.checkbox :complete %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
